<!Doctype html>

<html>
  <head>
    <head>
      <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    </head>
  </head>
  <body>
    {% if shapes %}
    <a-scene>
      {% for shape in shapes %}
        <{{shape.name}}
        {% for key, val in shape.Attributes.items %}
            {{key}} = "{{ val }}"
        {% endfor %}
        ></{{shape.name}}>
      {% endfor %}
    </a-scene>
      {% else %}
        <p>No Shapes are available.</p>
      {% endif %}
</body>
  </body>
</html>
